	
    	<form class="mui-form">
    	    <legend>Title</legend>
        	<div class="mui-select">
            	<select>
            	    <option>Option 1</option>
                	<option>Option 2</option>
                	<option>Option 3</option>
                	<option>Option 4</option>
            	</select>
            	<label>Select Example</label>
        	</div>
    	</form>
	
	
	
        <link href="//cdn.muicss.com/mui-0.9.35/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-0.9.35/js/mui.min.js"></script>
	


	
	
	`
