        <!--TEMPLATE-->
            <button class="mui-btn mui-btn--primary" onclick="activateOverlay()">Activate overlay</button>
        <!--END-TEMPLATE-->
    return `
        <!--STYLES-->
            <link href="//cdn.muicss.com/mui-0.9.35/css/mui.min.css" rel="stylesheet" type="text/css" />
            <script src="//cdn.muicss.com/mui-0.9.35/js/mui.min.js"></script>
        <!--END-STYLES-->


        <!--SCRIPTS-->
        <script>
            function activateOverlay() {
                mui.overlay('on');
            }
        </script>
        <!--END-SCRIPTS-->
	`
