:host {
	display: inline-block;
	--error-color: #f40303;
}
.enabled {
	border: 1px dashed #555;
	@apply(--file-upload-upload-border-enabled);
}
.hover {
	opacity: .7;
	border: 1px dashed #111;
	@apply(--file-upload-upload-border-hover);
}
#UploadBorder{
	vertical-align: middle;
	color: #555;
	padding: 20px;
	max-height: 300px;
	overflow-y: auto;
	display: inline-block;
	@apply(--file-upload-upload-border);
}
#dropArea {
	text-align: center;
	@apply(--file-upload-drop-area);
}
paper-button#button {
	margin-bottom: 20px;
	@apply(--file-upload-button);
}
paper-button#button:hover {
	@apply(--file-upload-button-hover);
}
.file {
	padding: 10px 0px;
	@apply(--file-upload-file);
}
.commands {
	float: right;
	@apply(--file-upload-commands);
}
.commands iron-icon:not([icon="check-circle"]) {
	cursor: pointer;
	opacity: .9;
	@apply(--file-upload-commands-faded);
}
.commands iron-icon:hover {
	opacity: 1;
	@apply(--file-upload-commands-hovered);
}
[hidden] {
	display: none;
}
.error {
	color: var(--error-color);
	font-size: 11px;
	margin-top: 2px;
	@apply(--file-upload-error);
}
.progress-bar {
	margin-top: 2px;
}
paper-progress {
	--paper-progress-active-color: #03a9f4;
}
paper-progress[error] {
	--paper-progress-active-color: var(--error-color);
}
