        
			<li class="mdc-grid-tile">
		    	<div class="mdc-grid-tile__primary">
                    <slot name="primary"></slot>
		    	</div>
                <span class="mdc-grid-tile__secondary">
                    <slot name="secondary"></slot>
			    </span>
                <slot></slot>
			</li>
        
    
        
                    <link rel="stylesheet" href="https://ipfs.io/ipfs/QmQGgLSemG8rLUZYxiMViB7b7E1qFiyV3MKcHFCtm66qiW/material-components-web.min.css"></link>
        <style>
            .mdc-grid-tile {
                width: 100%;
            }
        </style>

        


        
        
	`
